* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: black;
  text-decoration: none;
  list-style: none;
  font-family: 'Hind Siliguri', sans-serif;
}

html{
  display: flex; align-items: center; justify-content: center;
}

body {
  width: min(100%, 2000px);
  background-color: white;
}

#root{
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* Common */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
