* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  font-family: "Hind Siliguri", sans-serif;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  background-color: black;
  height: 100%; 
  width: 100%;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Common */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
